@import "../../../sass/general.scss";
.CalendarInputBox {
  background-color: $light;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  p {
    font-size: 14px;
    color: #7f7f7f;
    font-weight: 700;
    margin-left: 3%;
  }
  &__iconContainer {
    height: fit-content;
    width: 25px;
    margin-left: 5px;
    font-size: 30px;
    &-icon {
      font-size: 100px;
      height: 100%;
      width: 100%;
      opacity: 0.5;
    }
  }
}
.enlace {
  height: 0;
  overflow: hidden;
}
.animation {
  height: fit-content;
  margin-top: 5px;
  box-shadow: 2px 2px #f3f1ed;
  width: 59%;
  position: absolute;
  background-color: white;
  @include breakpoint-up(medium) {
    width: 31.3%;
  }
}
