@import "../../../sass/general.scss";

.RegisterContainer {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  // align-items: center;
  width: 100vw;
  background-color: $backBody;
  height: calc(100vh - 80px - 58px);
  padding-bottom: 58px;
  min-height: 130vh;

  &__FormContainer {
    display: flex;
    // justify-content: center;
    flex-direction: column;
    max-width: 448px;
    width: 60vw;
    position: relative;
    margin-top: 50px;

    @include breakpoint-down(small) {
      width: 80vw;
      max-width: 448px;
    }

    @include breakpoint-up(medium) {
      margin-top: 100px;
  }



    &--close {
      margin-top: 10px;
      font-size: 1.5rem;
      font-weight: bold;
      color: $colorOscuro;
      background-color: $Dark;
      color: $lightGray;
      position: absolute;
      top: -10px;
      right: 0;
      border-radius: 50%;
      height: 35px;
      width: 34px;
      text-align: center;
      line-height: 1.4;
    }

    &--fullName {
      display: flex;
      flex-direction: column;
    }

    &--title {
      color: $colorClaro;
      font-size: 1.5rem;
      font-weight: 700;
      align-self: center;
      margin: 20px;
      margin-top: 12px;
    }
    form {




      display: flex;
      flex-direction: column;


      .exito {
        margin-top: 0px;
        font-size: 1.2rem;
        color: $colorOscuro;
        align-self: center;
        font-weight: bold;
      }
      .small {
        font-size: 0.9rem;
        font-weight: 400;
      }

      .formLabel {
        font-size: 0.8rem;
        padding-bottom: 3px;
      }

      .formInput {
        margin-bottom: 15px;
        padding: 10px;
        font-size: 1rem;
      }
      .button {
        @include links;
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 0px;
        align-self: center;
        button {
          background-color: transparent;
          border: 0px;
          color: $buttonsText;
          font-weight: 700;
          font-size: 100%;
        }
      }

      p {
        align-self: center;
        font-size: 0.8rem;

        a {
          text-decoration: none;
          color: $colorClaro;
        }
      }
    }
  }
}
